In [84]:
# simple returns
# EP - BP / BP - multiple assets over the same timeframe
# EP / BP - 1

# EP / BG - single asset

# deviation
# daily_returns.std() * 250**0.5

In [1]:
import datetime as dt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

tickers = ["PG", "^GSPC"]

pf_data = yf.download(tickers, start="2012-01-01", end='2016-12-31')['Close']
pf_data

/var/folders/9t/pmjxxbqs3j19rnf8hr5qxzvm0000gn/T/ipykernel_13609/1944688460.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  pf_data = yf.download(tickers, start="2012-01-01", end='2016-12-31')['Close']
[*********************100%***********************]  2 of 2 completed

Ticker             PG        ^GSPC
Date
2012-01-03  45.322193  1277.060059
2012-01-04  45.301842  1277.300049
2012-01-05  45.111931  1281.060059
2012-01-06  45.003433  1277.810059
2012-01-09  45.193329  1280.699951
...               ...          ...
2016-12-23  67.578522  2263.790039
2016-12-27  67.292152  2268.879883
2016-12-28  66.870575  2249.919922
2016-12-29  67.093330  2249.260010
2016-12-30  66.878563  2238.830078

[1258 rows x 2 columns]

In [2]:
log_returns = np.log(pf_data / pf_data.shift(1)).dropna()
log_returns

Ticker            PG     ^GSPC
Date
2012-01-04 -0.000449  0.000188
2012-01-05 -0.004201  0.002939
2012-01-06 -0.002408 -0.002540
2012-01-09  0.004211  0.002259
2012-01-10 -0.004663  0.008847
...              ...       ...
2016-12-23  0.005784  0.001251
2016-12-27 -0.004247  0.002246
2016-12-28 -0.006285 -0.008392
2016-12-29  0.003326 -0.000293
2016-12-30 -0.003206 -0.004648

[1257 rows x 2 columns]

In [3]:
cov = log_returns.cov() * 250
cov

Ticker        PG     ^GSPC
Ticker
PG      0.020409  0.010078
^GSPC   0.010078  0.016362

In [5]:
cov_with_market = cov.iloc[0, 1]
cov_with_market

np.float64(0.010078078456732089)

In [7]:
market_var = log_returns['^GSPC'].var() * 250
market_var

np.float64(0.016361631002308474)

In [9]:
PG_beta = cov_with_market / market_var
PG_beta

np.float64(0.6159580579289538)

In [11]:
PG_er = 0.025 + PG_beta * 0.05
PG_er

np.float64(0.05579790289644769)

In [13]:
PG_sharpe = (PG_er - 0.025) / (log_returns['PG'].std() * 250**0.5)
PG_sharpe

np.float64(0.21558121863602975)