In [1]:
import yfinance as yf
import pandas_datareader as wb
import pandas as pd

In [2]:
stock_data = yf.download('AAPL', start='2000-01-01')
print(stock_data)

/var/folders/9t/pmjxxbqs3j19rnf8hr5qxzvm0000gn/T/ipykernel_49315/3569193646.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  stock_data = yf.download('AAPL', start='2000-01-01')
[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open      Volume
Ticker          AAPL      AAPL      AAPL      AAPL        AAPL
Date
2000-01-03  0.841048  0.845274  0.764034  0.787983   535796800
2000-01-04  0.770139  0.831186  0.760277  0.813341   512377600
2000-01-05  0.781408  0.830716  0.773895  0.779530   778321600
2000-01-06  0.713787  0.803950  0.713787  0.797376   767972800
2000-01-07  0.747598  0.758869  0.717544  0.725057   460734400
2000-01-10  0.734449  0.768260  0.711909  0.766382   505064000
2000-01-11  0.696881  0.746659  0.679976  0.720831   441548800
2000-01-12  0.655088  0.717544  0.649921  0.713787   976068800
2000-01-13  0.726935  0.741962  0.695003  0.709912  1032684800
2000-01-14  0.754642  0.768260  0.746659  0.751355   390376000
2000-01-18  0.780939  0.796436  0.754641  0.758868   459177600
2000-01-19  0.800662  0.817098  0.776713  0.793618   597643200
2000-01-20  0.852788  0.912896  0.852788  0.867815  1831132800
2000-01-21  0.836352  0.858422  0.827899  0.858422   495924800
2000-01-24  0.798315  0.847152  0.789862  0.814750   440876800
2000-01-25  0.843396  0.849971  0.769200  0.788923   497145600
2000-01-26  0.827899  0.857953  0.824612  0.826490   367158400
2000-01-27  0.826490  0.849031  0.803949  0.817567   340144000
2000-01-28  0.763564  0.833064  0.756051  0.812872   423348800
2000-01-31  0.779530  0.780469  0.710030  0.758868   701680000

In [4]:
stock_data2 = yf.download('AAPL', start='2000-01-01')
stock_data2

/var/folders/9t/pmjxxbqs3j19rnf8hr5qxzvm0000gn/T/ipykernel_49315/1068809726.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  stock_data2 = yf.download('AAPL', start='2000-01-01')
[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open      Volume
Ticker          AAPL      AAPL      AAPL      AAPL        AAPL
Date
2000-01-03  0.841048  0.845274  0.764034  0.787983   535796800
2000-01-04  0.770139  0.831186  0.760277  0.813341   512377600
2000-01-05  0.781408  0.830716  0.773895  0.779530   778321600
2000-01-06  0.713787  0.803950  0.713787  0.797376   767972800
2000-01-07  0.747598  0.758869  0.717544  0.725057   460734400
2000-01-10  0.734449  0.768260  0.711909  0.766382   505064000
2000-01-11  0.696881  0.746659  0.679976  0.720831   441548800
2000-01-12  0.655088  0.717544  0.649921  0.713787   976068800
2000-01-13  0.726935  0.741962  0.695003  0.709912  1032684800
2000-01-14  0.754642  0.768260  0.746659  0.751355   390376000
2000-01-18  0.780939  0.796436  0.754641  0.758868   459177600
2000-01-19  0.800662  0.817098  0.776713  0.793618   597643200
2000-01-20  0.852788  0.912896  0.852788  0.867815  1831132800
2000-01-21  0.836352  0.858422  0.827899  0.858422   495924800
2000-01-24  0.798315  0.847152  0.789862  0.814750   440876800
2000-01-25  0.843396  0.849971  0.769200  0.788923   497145600
2000-01-26  0.827899  0.857953  0.824612  0.826490   367158400
2000-01-27  0.826490  0.849031  0.803949  0.817567   340144000
2000-01-28  0.763564  0.833064  0.756051  0.812872   423348800
2000-01-31  0.779530  0.780469  0.710030  0.758868   701680000

In [14]:


class Bike:
  color = 'red'
  size = 10
  type = 'mountain'


# or
class Bike2:
  def __init__(self, color='red', size=10, type='mountain'):
    self.color = color
    self.size = size
    self.type = type
  def rent_out(self):
    return print(f'Renting out {self.color} {self.size} inch {self.type} bike')
  def repair(self):
    return print(f'Repairing {self.color} {self.size} inch {self.type} bike')

bike2 = Bike2('green', 12, 'road')

print(bike2.repair())

bike3 = Bike2('blue', 20, 'BMX bike')
bike4 = Bike2('yellow', 16, 'kids bike')

Repairing green 12 inch road bike
None

In [16]:
import pandas as pd

# Create a Series
prices = pd.Series([150, 152, 148, 155], 
                   index=['Mon', 'Tue', 'Wed', 'Thu'],
                   name='AAPL_Price')

print(prices)
print(f"Wednesday price: {prices['Wed']}")

Mon    150
Tue    152
Wed    148
Thu    155
Name: AAPL_Price, dtype: int64
Wednesday price: 148

In [17]:
import pandas as pd

# Create a DataFrame
stock_data = pd.DataFrame({
    'AAPL': [150, 152, 148, 155],
    'MSFT': [300, 305, 298, 310],
    'GOOGL': [2500, 2520, 2480, 2540]
}, index=['Mon', 'Tue', 'Wed', 'Thu'])

print(stock_data)
print(f"Apple on Wednesday: {stock_data.loc['Wed', 'AAPL']}")

     AAPL  MSFT  GOOGL
Mon   150   300   2500
Tue   152   305   2520
Wed   148   298   2480
Thu   155   310   2540
Apple on Wednesday: 148