In [2]:
# simple returns
# EP - BP / BP - multiple assets over the same timeframe
# EP / BP - 1

# EP / BG - single asset

# deviation
# daily_returns.std() * 250**0.5

In [3]:
import yfinance as yf
import datetime as dt
import numpy as np
import pandas as pd

In [4]:
tickers = [
    "PG",
    "BEI.DE",
]

sec_data = yf.download(
    tickers,
    start="2007-1-1",
    end=dt.datetime.now(),
)["Close"]

sec_data

/var/folders/9t/pmjxxbqs3j19rnf8hr5qxzvm0000gn/T/ipykernel_40700/1572535463.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  sec_data = yf.download(
[*********************100%***********************]  2 of 2 completed

Ticker          BEI.DE          PG
Date
2007-01-02   41.522026         NaN
2007-01-03   41.613094   38.144569
2007-01-04   41.886326   37.854973
2007-01-05   41.025249   37.529911
2007-01-08   41.033531   37.612659
...                ...         ...
2025-07-07  108.199997  160.500000
2025-07-08  108.800003  157.889999
2025-07-09  109.300003  157.520004
2025-07-10  110.900002  158.490005
2025-07-11  110.900002  157.050003

[4783 rows x 2 columns]

In [5]:
from matplotlib.pylab import f


sec_returns = np.log(sec_data / sec_data.shift(1)).dropna()
sec_returns

annual_returns = sec_returns.mean() * 250  # annualized returns
standard_deviation = sec_returns.std() * 250**0.5  # annualized standard deviation
annual_returns, standard_deviation

(Ticker
 BEI.DE    0.040151
 PG        0.081107
 dtype: float64,
 Ticker
 BEI.DE    0.211154
 PG        0.185350
 dtype: float64)

In [34]:
PG_var = sec_returns["PG"].var() * 250  # Annual variance
PG_var
PG_std = sec_returns["PG"].std() * (250**0.5)  # Annual standard deviation
np.sqrt(PG_var), PG_std

(np.float64(0.18535033075191215), np.float64(0.18535033075191215))

In [ ]:
from sys import stderr


stock_a_annual_returns = np.array([10, 12, 8, 15, 5])
stock_b_annual_returns = [2, 20, -5, 30, 3]

mean = (10 + 12 + 8 + 15 + 5) / 5
deviation = (
    (10 - mean) ** 2
    + (12 - mean) ** 2
    + (8 - mean) ** 2
    + (15 - mean) ** 2
    + (5 - mean) ** 2
)
n_minus_1 = 5 - 1

variance = deviation / n_minus_1

variance_2 = stock_a_annual_returns.var(ddof=1)  # Sample variance
variance_2

std = stock_a_annual_returns.std(ddof=1)


# mean
(2 + 20 + -5 + 30 + 3) / 5 = 50/5 = 10
# deviation from mean
2 - 10 = -8
20 - 10 = 10
-5 - 10 = -15
30 - 10 = 20
3 - 10 = -7
# squared deviations
(-8) ** 2 = 64
10 ** 2 = 100
(-15) ** 2 = 225
20 ** 2 = 400
(-7) ** 2 = 49
# sum of squared deviations
64 + 100 + 225 + 400 + 49 = 838
# divide by n-1 (sample variance)
838 / (5 - 1) = 838 / 4 = 209.5

209.5 ** 0.5 = 14.5

(np.float64(3.8078865529319543), np.float64(3.8078865529319543))